{% extends 'base.html' %}

{% block meta %}

<style>
    .navbar{
        display : flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width:100%;
        background-color:#123456;
        color:#FFFFFF;
        padding-bottom:0px;
    }
    .navbar #judul{
        padding-left:1%;
        padding-top:0.5%;
    }
    .navbar #info{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        color:#000000;
        background-color:#ABCDEF;
        width:100%;
    } 
    .navbar #nama,#class{
        display:flex;
        flex-direction:row;
        gap:10px;
    }
    .table-addButt{
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        background-color:#AAAAAA;
        align-items:center;
    }
</style>
{% endblock meta %}
{% block content %}
    
    <div class="navbar">
        <div id="judul">
            <h1>Shopping List Page</h1>
            <h5>Sesi terakhir login: {{ last_login }}</h5>
        </div>

        <br/>
        <div id="info">
            <div id="nama">
                <h5>Name:</h5>
                <p>{{name}}</p>
            </div>

            <div id="class">
                <h5>Class:</h5>
                <p>{{class}}</p>
            </div>
        </div>
    </div>

    <div class="table-addButt">
        <table id="product_table">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Date Added</th>
            </tr>

            {% for product in products %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.date_added}}</td>
                    <td>
                        <a href="{% url 'main:edit_product' product.pk %}">
                            <button type="button" class="btn btn-secondary">Edit</button>
                        </a>
                        <a href="{% url 'main:delete_product' product.pk %}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                <tr>
                    
            {% endfor %}
        </table>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name"></input>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="col-form-label">Price:</label>
                                <input type="number" class="form-control" id="price" name="price"></input>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description" name="description"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
        <a href="{% url 'main:create_product' %}">
            <button>
                Add New Product
            </button>
        </a>
    </div>
    <br />

    <div class="logout">
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
    </div>

    <script>
        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }
    
        async function refreshProducts() {
            document.getElementById("product_table").innerHTML = "";
            const products = await getProducts()
            let htmlString = `<tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Date Added</th>
            </tr>`
            products.forEach((item) => {
                htmlString += `\n<tr>
                <td>${item.fields.name}</td>
                <td>${item.fields.price}</td>
                <td>${item.fields.description}</td>
                <td>${item.fields.date_added}</td>
            </tr>` 
            })
            
            document.getElementById("product_table").innerHTML = htmlString
        }
    
        refreshProducts()
    
        function addProduct() {
            console.log("in addProductJs")
            fetch("{% url 'main:add_product_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts)
    
            document.getElementById("form").reset()
            return false
        }
        {% comment %} document.getElementById("button_add").onclick = addProduct {% endcomment %}
        document.getElementById("button_add").setAttribute("onclick", "addProduct");
    
    </script>

{% endblock content %}